servers = "{{ if service "redis-rspamd" }}{{ range service "redis-rspamd" }}{{ .Address }}{{ end }}{{ else }}redis-rspamd.weave.local{{ end }}";
password = "{{ with secret "secret/rspamd/redis/password" }}{{ .Data.value }}{{ end }}";
